{
  "extends": "../../tsconfig.base.json",
  "compilerOptions": {
    "plugins": [{ "name": "next" }],
    "baseUrl": ".",
    "paths": {
      "@core": ["../../packages/core/src/index.ts"],
      "@core/*": ["../../packages/core/src/*"],
      "@ui": ["../../packages/ui/src/index.ts"],
      "@ui/*": ["../../packages/ui/src/*"],
      "@sanity-schema": ["../../packages/sanity-schema/src/index.ts"],
      "@sanity-schema/*": ["../../packages/sanity-schema/src/*"],
      "@/*": ["./src/*"]
    }
  },
  "include": [
    "next-env.d.ts",
    "**/*.ts",
    "**/*.tsx",
    ".next/types/**/*.ts",
    ".next/dev/types/**/*.ts"
  ],
  "exclude": ["node_modules"]
}
